/dist/*
.local
.output.js
/node_modules/**

**/*.svg
**/*.sh

/public/*

build/
.editorconfig
.eslint.config.js
.eslintignore
.prettierignore
.prettierrc
prettier.config.js
prettier.config.ts
tsconfig.json

